set -g status off
bind -r -T prefix C-h resize-pane -L
bind -r -T prefix C-k resize-pane -U
bind -r -T prefix C-j resize-pane -D
bind -r -T prefix C-l resize-pane -R

bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R
