" Disable mouse select
set mouse-=a
" Copy paste maybe TODO in termux https://ibnishak.github.io/blog/post/copy-to-termux-clip/

" General good stuff from https://danielmiessler.com/study/vim/
" highlight syntax
syntax on
" disable the swapfile
set noswapfile
" highlight all results
set hlsearch
" ignore case in search
set ignorecase
" show search results as you type
set incsearch
" set jk as ESC alternative
inoremap jk <ESC>
" remove trailing whitespaces on save https://vim.fandom.com/wiki/Remove_unwanted_spaces
autocmd BufWritePre * :%s/\s\+$//e
" replace selected text in visual with regexp https://stackoverflow.com/questions/676600/vim-search-and-replace-selected-text
vnoremap <C-r> "hy:%s/<C-r>h//gc<left><left><left>
" point to additional words for spellchecking
set spellfile=~/.vim/spell/en.utf-8.add

" improve autocomplete behavior based on https://vim.fandom.com/wiki/Make_Vim_completion_popup_menu_work_just_like_in_an_IDE
set completeopt=longest,menuone

" Set line moves with Ctrl +hjkl
nnoremap <C-j> :m .+1<CR>
nnoremap <C-k> :m .-2<CR>
inoremap <C-j> <Esc>:m .+1<CR>gi
inoremap <C-k> <Esc>:m .-2<CR>gi
vnoremap <C-j> :m '>+1<CR>gv
vnoremap <C-k> :m '<-2<CR>gv

:set shiftwidth=1
nnoremap <C-h> :<1<CR>
nnoremap <C-l> :>1<CR>
inoremap <C-h> <Esc>:<1<CR>gi
inoremap <C-l> <Esc>:>1<CR>gi
vnoremap <C-h> < gv
vnoremap <C-l> > gv

call plug#begin('~/.vim/plugged')

Plug 'mzlogin/vim-markdown-toc'
" Plug 'davidhalter/jedi-vim'
Plug 'fatih/vim-go', { 'do': ':GoUpdateBinaries' }

Plug 'junegunn/fzf', { 'do': { -> fzf#install() } }

" Initialize plugin system
call plug#end()

" enable spell check for markdown files
autocmd FileType markdown setlocal spell

" Disable netrw help header
let g:netrw_banner=0

""" Python stuff start

" jedi-vim config
" disable automatic autodot extension, use <CTRL>+<Space>
let jedi#popup_on_dot=0

" configure function call signature
let g:jedi#show_call_signatures=1

" use tabs for showing Pydoc
let g:jedi#use_tabs_not_buffers = 1

" autogenerate import for python files on save
autocmd bufwritepost *.py execute  "silent !tidy-imports --quiet --replace-star-imports --action REPLACE " . bufname("%")
""" Python stuff end

""" GO stuff start
""" GO stuff end
