" Disable mouse select
set mouse-=a
" Copy paste maybe TODO in termux https://ibnishak.github.io/blog/post/copy-to-termux-clip/

" General good stuff from https://danielmiessler.com/study/vim/
" highlight syntax
syntax on
" disable the swapfile
set noswapfile
" highlight all results
set hlsearch
" ignore case in search
set ignorecase
" show search results as you type
set incsearch
" set jk as ESC alternative
inoremap jk <ESC>
" remove trailing whitespaces on save https://vim.fandom.com/wiki/Remove_unwanted_spaces
autocmd BufWritePre * :%s/\s\+$//e
" replace selected text in visual with regexp https://stackoverflow.com/questions/676600/vim-search-and-replace-selected-text
vnoremap <C-r> "hy:%s/<C-r>h//gc<left><left><left>
" point to additional words for spellchecking
set spellfile=~/.vim/spell/en.utf-8.add


call plug#begin('~/.vim/plugged')

Plug 'mzlogin/vim-markdown-toc'
Plug 'davidhalter/jedi-vim'

" Initialize plugin system
call plug#end()

" enable spell check for markdown files
autocmd FileType markdown setlocal spell

" Disable netrw help header
let g:netrw_banner=0

" jedi-vim config
" disable automatic autodot extension, use <CTRL>+<Space>
let jedi#popup_on_dot=0

" disable function call signature
let g:jedi#show_call_signatures=0
